@import "../../style.scss";

.sidebar {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    background-color: themed("bgColor");
    color: themed("textColor");

    .container {
      padding: 20px;
    }

    hr {
      margin: 20px 0px;
      border: none;
      height: 0.5px;
      background-color: themed("borderColor");
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      span {
        font-size: 12px;
      }

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        span {
          font-size: 14px;
        }
      }
    }
  }
}
