.stories {
  display: flex;
  gap: 10px;
  height: 250px;
  margin-bottom: 30px;

  .story {
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #fff;
    }
  }
}
