@import "../../style.scss";

.post {
  @include themify($themes) {
    border-radius: 10px;
    background-color: themed("bgColor");
    color: themed("textColor");

    .container {
      padding: 20px;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            display: flex;
            flex-direction: column;

            .username {
              font-weight: 700;
            }

            .date {
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }

      .content {
        margin: 20px 0;

        img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          margin-top: 20px;
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 20px;

        .item {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }

    .link {
      text-decoration: none;
      color: inherit;
    }
  }
}
