@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
    border-bottom: 1px solid themed("borderColor");
    position: sticky;
    top: 0;
    background-color: themed("bgColor");
    color: themed("textColor");
    z-index: 999;

    .icon {
      cursor: pointer;
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 30px;

      .link {
        color: themed("logoColor");
        text-decoration: none;
        font-weight: 800;
        font-size: 1.5rem;
      }

      .search {
        padding: 2px 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("borderColor");
        width: 300px;

        input {
          border: none;
          width: 100%;
          color: themed("textColor");
          background-color: transparent;

          
        }

        input:focus {
          outline: none;
        }

        @include mobile {
          display: none;
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
    }
  }
}
