.register {
  height: 100vh;
  background-color: #d9dde8;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
  }

  &__left {
    flex: 0.8;
    color: #fff;
    background-color: #3b37ff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }

    span {
      font-size: 1rem;
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 10px;
      width: 50%;
      background-color: #ffffff;
      color: #3b37ff;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__right {
    flex: 1.2;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    h1 {
      color: #0a0a0b;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        border: 1px solid #e5e7f0;
        border-radius: 10px;
        padding: 15px 20px;
        background-color: #fff;
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 10px;
        width: 50%;
        background-color: #3b37ff;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
