$themes: (
  light: (
    textColor: #000,
    bgColor: #fff,
    logoColor: darkblue,
    bgSoftColor: #f6f3f3,
    textSoftColor: #555,
    borderColor: lightgray,
  ),
  dark: (
    textColor: whitesmoke,
    bgColor: #222,
    logoColor: white,
    bgSoftColor: #333,
    textSoftColor: lightgray,
    borderColor: #444,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}