@import "../../style.scss";

.profile {
  @include themify($themes) {
    background-color: themed("bgSoftColor");

    .images {
      width: 100%;
      height: 300px;
      position: relative;

      .cover {
        width: 100%;
        height: 100%;
      }

      .profile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 200px;
        margin: auto;
      }
    }

    .container {
      background-color: themed("bgColor");
      color: themed("textColor");
      padding: 5px;
    }
  }
}
