@import "../../style.scss";

.widgets {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    background-color: themed("bgSoftColor");
    color: themed("textColor");

    .container {
      padding: 20px;

      @include mobile {
        display: none;
      }
    }
  }
}
